div{
    width: 50%;
    border: 2px solid  red;
    padding: 3px;
    }
.redcolor{
    color: red;
}
.h1size{
    font-size: 50px;
}
#h1color{
    color: blue;
}
h1{
    color: chocolate; 
}
body{
    margin: 5px;
}